src/ClienteHCS_2/Connected Services/HCS/BNA.FU.HCS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BNA.FU.HCS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BNA.FU.HCS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCFMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenido" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFMensaje" nillable="true" type="tns:WCFMensaje" />
  <xs:complexType name="ArrayOfWCFMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFMensaje" nillable="true" type="tns:WCFMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFMensaje" nillable="true" type="tns:ArrayOfWCFMensaje" />
</xs:schema>